<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YelpCamp</title>
  </head>
  <a href="/">Go ta index page</a>
  <a href="/campings">Go to campings</a>
  <a href="/campings/add">Add a camping</a>
  <body>