<%- include("partials/header.ejs") %>
<div class="container form-container" style="width: 20%;">
  <form action="/campings" method="POST" style="display: flex; flex-direction: column; margin-top: 50px;">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="name"
        placeholder="Enter camping name"
      />
      
    </div>
    <div class="form-group">
      <label for="url">Url</label>
      <input
        type="text"
        class="form-control"
        id="url"
        name="url"
        placeholder="Enter camping image Url"
      />
    </div>
    <div class="form-group">
      <label for="descr">Description</label>
      <input
        type="text"
        class="form-control"
        id="descr"
        name="descr"
        placeholder="Enter camping description"
      />
    </div>
    <button type="submit" class="btn btn-primary">Add new Camp</button>
  </form>
  <a href="/campings">Go Back</a>
</div>

<%- include("partials/footer.ejs") %>
