<%- include("partials/header") %>

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to YelpCamp</h1>
    <p class="lead">The Most wonderful place about Campings</p>
    <hr class="my-4" />
    <p>Explore all places</p>
    <a class="btn btn-primary btn-lg" href="/campings" role="button">Explore</a>
  </div>
</div>

<%- include("partials/footer") %>
