.navbar {
    margin-bottom: 30px;
}

.footer {
    text-align: center;
}

.form-container {
    width: 790px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 55px 90px 55px;
}
